/*--CSS Reset--*/
body{font-family: "微软雅黑";font-size: 14px; font-style: normal;background: #fff;color: #000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h2,h3,h4,h5,h6,pre,form,fieldset,input,
textarea,p,blockquote,th,td{margin:0;padding:0;word-break:break-all;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img,abbr,acronym {	border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-family:normal;font-weight:normal;}
dl,dt,dd,ul,ol,li{list-style:none;}
caption,th{text-align:left;}
i,em{font-style:normal;}
h1,h2,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
div,span,a,p,input,th,td,tr,h1,h2,h3,h4,h5,h6,p,ul,li,dl,dt,dd,section,article,header,nav,hgroup,aside { -webkit-tap-highlight-color:rgba(0,0,0,0);appearance:none; }
section,article,header,nav,hgroup,aside { display: block;}
textarea {resize: none;}
.responseImg{min-width: 100%;max-width: 100%;vertical-align: top;}
/*文字排版*/
.f12 {font-size: 12px;}
.f13 {font-size: 13px;}
.f14 {font-size: 14px;}
.f16 {font-size: 16px;}
.f18 {font-size: 18px;}
.f20 {font-size: 20px;}
.f24 {font-size: 24px;}
.f28 {font-size: 28px;}
.f32 {font-size: 32px;}
.f36 {font-size: 36px;}
.noBorder{border:none;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.t2{text-indent:2em;}
.lh150 {line-height: 150%;}
.lh180 {line-height: 180%;}
.lh200 {line-height: 200%;}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}
.line_through{text-decoration: line-through;}

/*定位*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.pr{position:relative;}
.pa{position:absolute;}
.hidden{visibility:hidden;}
.none{display:none}
.cb {clear:both;}
.cl {clear:left;}
.cr {clear:right;}
.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.handpoint{cursor: pointer;}
.clearfix {display: block;}
.clearfix:after {clear: both;content: ".";display: block;height: 0;visibility: hidden} 
 input,button,select,textarea{outline:none}
 .zoom {zoom:1;}
 .disib {display: inline-block;vertical-align: top;zoom:1;}


 /*长度高度*/
 .w10 {width: 10px;}
 .w20 {width: 20px;}
 .w30 {width: 30px;}
 .w40 {width: 40px;}
 .w50 {width: 50px;}
 .w60 {width: 60px;}
 .w70 {width: 70px;}
 .w80 {width: 80px;}
 .w90 {width: 90px;}
 .w100 {width: 100px;}
 .w150 {width: 150px;}
 .w200 {width: 200px;}
 .w300 {width: 300px;}
 .w400 {width: 400px;}
 .w500 {width: 500px;}
 .w600 {width: 600px;}
 .w700 {width: 700px;}
 .w800 {width: 800px;}
 .w {width: 100%;}
 .lh20 {line-height: 20px;}
 .lh30 {line-height: 30px;}
 .lh40 {line-height: 40px;}
 .lh50 {line-height: 50px;}
 .lh {line-height: 100%;}


 /*边距*/

 .m10 {margin:10px;}
 .m15 {margin:15px;}
 .m30 {margin:30px;}
 .mt5 {margin-top: 5px;}
 .mt10 {margin-top: 10px;}
 .mt15 {margin-top: 15px;}
 .mt20 {margin-top: 20px;}
 .mt30 {margin-top: 30px;}
 .mt50 {margin-top: 50px;}
 .mt60 {margin-top: 60px;}
 .mb5 {margin-bottom: 5px;}
 .mb10 {margin-bottom: 10px;}
 .mb15 {margin-bottom: 15px;}
 .mb20 {margin-bottom: 20px;}
 .mb30 {margin-bottom: 30px;}
 .mb50 {margin-bottom: 50px;}
 .mb100 {margin-bottom: 100px;}
 .ml5 {margin-left: 5px;}
 .ml10 {margin-left: 10px;}
 .ml15 {margin-left: 15px;}
 .ml20 {margin-left: 20px;}
 .ml30 {margin-left: 30px;}
 .ml50 {margin-left: 50px;}
 .ml100 {margin-left: 100px;}
 .mr5 {margin-right: 5px;}
 .mr10 {margin-right: 10px;}
 .mr15 {margin-right: 15px;}
 .mr20 {margin-right: 20px;}
 .mr30 {margin-right: 30px;}
 .mr50 {margin-right: 50px;}
 .mr100 {margin-right: 100px;}

 .p5 {padding:5px;}
 .p10 {padding:10px;}
 .p15 {padding:15px;}
 .p30 {padding:30px;}
 .pt5 {padding-top: 5px;}
 .pt10 {padding-top: 10px;}
 .pt15 {padding-top: 15px;}
 .pt20 {padding-top: 20px;}
 .pt30 {padding-top: 30px;}
 .pt50 {padding-top: 50px;}
 .pb5 {padding-bottom: 5px;}
 .pb10 {padding-bottom: 10px;}
 .pb15 {padding-bottom: 15px;}
 .pb20 {padding-bottom: 20px;}
 .pb30 {padding-bottom: 30px;}
 .pb50 {padding-bottom: 50px;}
 .pl5 {padding-left: 5px;}
 .pl10 {padding-left: 10px;}
 .pl15 {padding-left: 15px;}
 .pl20 {padding-left: 20px;}
 .pl30 {padding-left: 30px;}
 .pl50 {padding-left: 50px;}
 .pr5 {padding-right: 5px;}
 .pr10 {padding-right: 10px;}
 .pr15 {padding-right: 15px;}
 .pr20 {padding-right: 20px;}
 .pr30 {padding-right: 30px;}
 .pr50 {padding-right: 50px;}

 .textset
{
text-overflow:ellipsis;
white-space:nowrap;
word-break:break-all;
overflow:hidden;
}
.textset2
{
text-overflow:ellipsis;
display:box;
display:-moz-box;
display:-webkit-box;
line-clamp:2;
-moz-line-clamp:2;
-webkit-line-clamp:2;
box-orient:vertical;
-moz-box-orient:vertical;
-webkit-box-orient:vertical;
overflow:Hidden;
}
.textset3
{
text-overflow:ellipsis;
display:box;
display:-moz-box;
display:-webkit-box;
line-clamp:3;
-moz-line-clamp:3;
-webkit-line-clamp:3;
box-orient:vertical;
-moz-box-orient:vertical;
-webkit-box-orient:vertical;
overflow:Hidden;
}



/***分页样式**/
.pageDh{padding-top:20px;margin-left: -2px;}
.pageDh a{position: relative;padding: 6px 12px;margin-left: -1px;line-height: 1.42857143;color: #428bca;text-decoration: none;background-color: #fff;border: 1px solid #ddd;}
.pageDh a:nth-child(2) {border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.pageDh a:nth-last-child(2) {  border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.pageDh a:hover	{color:#2a6496;background-color:#eee;border-color:#ddd}
.pageDh .cursor_default {cursor: default;}
.pageDh .gray{color:#9b9b9b}
.pageDh .gray:hover{color:#9b9b9b;}
#changePage{height:29px;background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: inline-block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 4px 12px;
    vertical-align: bottom;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
.pagination>li>a.now_page,.pageDh .nowPage,.pageDh .nowPage:hover {  background-color: #86B3F9;color: #fff;border: 1px solid #86b3f9;}
.text-center {text-align: center;}
.pageDh label {display: inline-block;margin-bottom: 5px;font-weight: bold;}