
.iconfont{font-family:"iconfont";font-size:16px;font-style:normal;}

.hd-button{background:#498FE1;font-size:14px;color:white;border: none;width:180px;height:40px;outline:none;margin-left:10px;margin-right:10px;}
.button-red{background:#498FE1;}
.button-blue{background:#498FE1;}
.button-disabled{background:#D8D8D8;}
.button-red:hover{background:#2c72c3;}
.button-blue:hover{background:#2c72c3;}

.bt-sub-sure{background:#498FE1;}
.bt-sub-sure:hover{background:#2c72c3;}
.bt-sub-cancel{background:#EFEFEF;color:#595957}
.bt-sub-cancel:hover{background:#e6e2eb;}

.c-success{color:#70D445}
.c-link{color:#39B9F2}
.c-warn{color:#fe8a29}
.c-danger{color:#E73F34}
.c-main{color:#FF5C54}

p.p-regular{font-weight:normal;}
p.p-bold{font-weight:bold;}
p.p-light{font-weight:lighter;}

p.p-normal{font-size:12px;}

p.mainText{color:#595957}
p.subText{color:#989898}
p.borderLine{color:#dcdddd}
p.tabPad{color:#EFEFEF}
.pop-bt{font-size:14px;color:white;width:85px;height:30px;outline:none;margin-left:5px;margin-right:5px;border:none;border-radius: 5px;}

div.popFrame{border:solid 1px #dcdddd}

.pop-fade{
    position:fixed;top:0;bottom:0;left:0;right:0;text-align:center;z-index:9999;background:rgba(0, 0, 0, 0.3);display:none;
    font-family: "兰亭黑","华文黑体","方正黑体","微软雅黑","helvetica","aria";
    font-style: normal;
}
.pop-content{position:relative;top:150px;margin:0 auto;width:280px;padding-top: 15px;padding-bottom: 25px;background:white;border-radius: 4px;}
.pop-icon{color:#55CCD9;font-size:32px;}
.pop-close{position:absolute;top:10px;right:15px;font-size:12px;color:#E2E3E3;cursor:pointer;}
.pop-body{position:relative;}
.pop-hint{position:relative;display:block;font-size:30px;text-align: center;}
.pc-text{position:relative;font-size:14px;}
.pop-buttons{position:relative;font-size:0px;text-align: center;}
.pop-row>*{position:relative;display:inline-block;vertical-align: top;}


.hf-ct{font-size:20px;padding:60px 0;}

.ac-text{margin-top: 10px;margin-bottom: 15px;}

.msgContent{width:200px;height: auto;padding:12px 0; box-shadow: 0px 0px 5px rgba(220,221,221,0.7);}
.msgHint{font-size:25px;margin-right: 4px;position: relative;}
.mc-text{margin-top:5px;white-space: nowrap;}

.nc-text{margin-top: 30px;margin-bottom: 15px;}

.loadContent{padding-bottom: 55px;}
.lc-text{margin-top: 35px;margin-bottom: 15px;}
.loading{position:relative;width:8px;height:8px;margin-right:6px; background:#498FE1;-webkit-transition: all 0.5s linear;  -moz-transition: all 0.5s linear;  transition: all 0.5s linear;}
.loading.l-last{margin-right:0px}

.normalMsgContent{position:fixed;background:white;z-index:9999}

.loadingL{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5) }
@media only screen and (max-width:1400px){

}

.icon-img{width: 25px;}
.notice-img{position: absolute;top:10px;left: 0;right: 0;bottom: 0;margin: 0 auto;}
.success-img{margin-right: 4px;position: relative;top:2px;}
.alert-img{position: relative;}
.error-img{position: relative;}
